<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
</head>

<body>
    {% extends "pages/base.html" %} {% block title %}Manage{% endblock %} {% block content %} {% if request.user.is_superuser %}
    <button type="button" class="btn btn-success" onclick="location.href = '/blog/manage/create'">New Post</button>
    <div class="list-group">
        {% for post in Posts %}
        <div class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">{{post.title}}</h3>
                <small>{{post.createAt|date:"d-m-Y"}}</small>
            </div>
            <h5 class="mb-1">{{post.body|safe|linebreaks}} </h5>
            <a href="{% url 'update' post.id %}"> <button type="button" class="btn btn-info">Edit</button> </a>
            <a href="{% url 'delete' post.id %}"> <button type="button" class="btn btn-danger">Delete</button></a>
        </div>
        {% endfor %}
    </div>
    <br/> {% if page_obj.has_next %}
    <a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp theo</a> {% endif %} {% endif %} {% endblock %}
</body>

</html>
<script>
</script>